.idea/

# All generated as part of Mautic scaffolding.
.env
.env.dist
app/.htaccess
bin/*
autoload.php
# Default location – if config customisation is working, this stuff should now land in public/
# docroot/
Gruntfile.js
package.json
package-lock.json
public/*
!public/.gitkeep
vendor/
