.idea/

# All generated as part of Mautic scaffolding.
.env
.env.dist
app/.htaccess
bin/*
!bin/.htaccess
var/*
!var/cache/prod/.gitkeep
autoload.php
docroot/
Gruntfile.js
package.json
package-lock.json
vendor/
